::selection {
  background: red; }

.darkgray-bg {
  background: #171515; }

.lightgray-bg {
  background: #d2d2d2; }

.menu-bg {
  background: #d71d11; }

.white-bg {
  background: #fff; }

.footer-bg {
  background: #1b1b1b; }

.menu {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: #fff; }
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .menu ul li {
      display: inline-block; }
      .menu ul li a {
        display: block;
        padding: 10px;
        background: #d2d2d2;
        text-decoration: none; }
        .menu ul li a:hover {
          opacity: .5; }

.middle-content {
  background: #fff;
  width: 100%;
  height: 100%;
  margin: 20px 0;
  padding: 100px; }

#container-realizacje {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: .5;
  height: 100px; }

body {
  padding-top: 5px;
  background: #d2d2d2;
  font-family: 'Lato', sans-serif; }
  body:before {
    content: "";
    position: fixed;
    z-index: 1000;
    background: #a8170d;
    top: 0;
    left: 0;
    right: 0;
    height: 5px; }

footer {
  background: #171515;
  color: #9a9393;
  text-align: center;
  font-size: 12px;
  padding: 10px 0; }

.footer-col {
  padding: 20px 0 10px 0;
  color: #fff;
  font-family: 'Ubuntu', sans-serif; }
  .footer-col h3, .footer-col h5 {
    margin: 0;
    padding: 0; }
  .footer-col h3 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    text-align: center; }
  .footer-col a:focus {
    color: red; }
  .footer-col a:hover {
    color: red; }
  .footer-col .footer-input {
    width: 70%;
    background: #3b3b3b;
    border: none;
    color: #9a9393;
    height: 30px;
    margin-top: 10px;
    font-size: 10px;
    float: left; }
  .footer-col .footer-submit {
    width: 20%;
    border: none;
    height: 30px;
    margin: 0;
    padding: 0;
    background: #3b3b3b;
    margin-top: 10px;
    font-size: 18px; }
  .footer-col span {
    width: 100%; }
  .footer-col .ico-footer {
    font-size: 60px;
    color: #9a9393;
    text-align: center;
    opacity: .1;
    top: 100px;
    right: 0;
    position: absolute; }
  .footer-col ul {
    list-style: none;
    margin: 35px 0;
    padding: 0; }
    .footer-col ul li a .small-link {
      font-size: 12px;
      color: #fff; }
  .footer-col .big-link {
    font-size: 15px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    display: block;
    margin-top: 20px; }

.fb, .tw, .gp, .ld {
  font-size: 25px;
  color: #fff;
  display: block;
  text-align: left;
  position: relative; }

.fb {
  color: #3b5998; }

.tw {
  color: #55ACEE; }

.gp {
  color: #d34836; }

.ld:after {
  position: absolute;
  content: "in";
  background: #0077B5;
  color: #fff;
  border-radius: 4px;
  padding: 0 2px; }

.border-footer {
  border-right-color: rgba(255, 255, 255, 0.16);
  border-right-style: solid;
  border-right-width: 1px;
  min-height: 180px;
  max-height: 250px; }

.show-anime {
  animation: show 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  display: block;
  margin: 0 auto; }

.hide-anime {
  animation: hide 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  opacity: 0;
  display: block;
  margin: 0 auto; }

@keyframes show {
  1% {
    opacity: 0.05;
    transform: scale(0.01); }
  2% {
    opacity: 0.1;
    transform: scale(0.02); }
  3% {
    opacity: 0.15;
    transform: scale(0.03); }
  4% {
    opacity: 0.2;
    transform: scale(0.04); }
  5% {
    opacity: 0.25;
    transform: scale(0.05); }
  6% {
    opacity: 0.3;
    transform: scale(0.06); }
  7% {
    opacity: 0.35;
    transform: scale(0.07); }
  8% {
    opacity: 0.4;
    transform: scale(0.08); }
  9% {
    opacity: 0.45;
    transform: scale(0.09); }
  10% {
    opacity: 0.5;
    transform: scale(0.1); }
  11% {
    opacity: 0.55;
    transform: scale(0.11); }
  12% {
    opacity: 0.6;
    transform: scale(0.12); }
  13% {
    opacity: 0.65;
    transform: scale(0.13); }
  14% {
    opacity: 0.7;
    transform: scale(0.14); }
  15% {
    opacity: 0.75;
    transform: scale(0.15); }
  16% {
    opacity: 0.8;
    transform: scale(0.16); }
  17% {
    opacity: 0.85;
    transform: scale(0.17); }
  18% {
    opacity: 0.9;
    transform: scale(0.18); }
  19% {
    opacity: 0.95;
    transform: scale(0.19); }
  20% {
    opacity: 1;
    transform: scale(0.2); }
  21% {
    opacity: 1.05;
    transform: scale(0.21); }
  22% {
    opacity: 1.1;
    transform: scale(0.22); }
  23% {
    opacity: 1.15;
    transform: scale(0.23); }
  24% {
    opacity: 1.2;
    transform: scale(0.24); }
  25% {
    opacity: 1.25;
    transform: scale(0.25); }
  26% {
    opacity: 1.3;
    transform: scale(0.26); }
  27% {
    opacity: 1.35;
    transform: scale(0.27); }
  28% {
    opacity: 1.4;
    transform: scale(0.28); }
  29% {
    opacity: 1.45;
    transform: scale(0.29); }
  30% {
    opacity: 1.5;
    transform: scale(0.3); }
  31% {
    opacity: 1.55;
    transform: scale(0.31); }
  32% {
    opacity: 1.6;
    transform: scale(0.32); }
  33% {
    opacity: 1.65;
    transform: scale(0.33); }
  34% {
    opacity: 1.7;
    transform: scale(0.34); }
  35% {
    opacity: 1.75;
    transform: scale(0.35); }
  36% {
    opacity: 1.8;
    transform: scale(0.36); }
  37% {
    opacity: 1.85;
    transform: scale(0.37); }
  38% {
    opacity: 1.9;
    transform: scale(0.38); }
  39% {
    opacity: 1.95;
    transform: scale(0.39); }
  40% {
    opacity: 2;
    transform: scale(0.4); }
  41% {
    opacity: 2.05;
    transform: scale(0.41); }
  42% {
    opacity: 2.1;
    transform: scale(0.42); }
  43% {
    opacity: 2.15;
    transform: scale(0.43); }
  44% {
    opacity: 2.2;
    transform: scale(0.44); }
  45% {
    opacity: 2.25;
    transform: scale(0.45); }
  46% {
    opacity: 2.3;
    transform: scale(0.46); }
  47% {
    opacity: 2.35;
    transform: scale(0.47); }
  48% {
    opacity: 2.4;
    transform: scale(0.48); }
  49% {
    opacity: 2.45;
    transform: scale(0.49); }
  50% {
    opacity: 2.5;
    transform: scale(0.5); }
  51% {
    opacity: 2.55;
    transform: scale(0.51); }
  52% {
    opacity: 2.6;
    transform: scale(0.52); }
  53% {
    opacity: 2.65;
    transform: scale(0.53); }
  54% {
    opacity: 2.7;
    transform: scale(0.54); }
  55% {
    opacity: 2.75;
    transform: scale(0.55); }
  56% {
    opacity: 2.8;
    transform: scale(0.56); }
  57% {
    opacity: 2.85;
    transform: scale(0.57); }
  58% {
    opacity: 2.9;
    transform: scale(0.58); }
  59% {
    opacity: 2.95;
    transform: scale(0.59); }
  60% {
    opacity: 3;
    transform: scale(0.6); }
  61% {
    opacity: 3.05;
    transform: scale(0.61); }
  62% {
    opacity: 3.1;
    transform: scale(0.62); }
  63% {
    opacity: 3.15;
    transform: scale(0.63); }
  64% {
    opacity: 3.2;
    transform: scale(0.64); }
  65% {
    opacity: 3.25;
    transform: scale(0.65); }
  66% {
    opacity: 3.3;
    transform: scale(0.66); }
  67% {
    opacity: 3.35;
    transform: scale(0.67); }
  68% {
    opacity: 3.4;
    transform: scale(0.68); }
  69% {
    opacity: 3.45;
    transform: scale(0.69); }
  70% {
    opacity: 3.5;
    transform: scale(0.7); }
  71% {
    opacity: 3.55;
    transform: scale(0.71); }
  72% {
    opacity: 3.6;
    transform: scale(0.72); }
  73% {
    opacity: 3.65;
    transform: scale(0.73); }
  74% {
    opacity: 3.7;
    transform: scale(0.74); }
  75% {
    opacity: 3.75;
    transform: scale(0.75); }
  76% {
    opacity: 3.8;
    transform: scale(0.76); }
  77% {
    opacity: 3.85;
    transform: scale(0.77); }
  78% {
    opacity: 3.9;
    transform: scale(0.78); }
  79% {
    opacity: 3.95;
    transform: scale(0.79); }
  80% {
    opacity: 4;
    transform: scale(0.8); }
  81% {
    opacity: 4.05;
    transform: scale(0.81); }
  82% {
    opacity: 4.1;
    transform: scale(0.82); }
  83% {
    opacity: 4.15;
    transform: scale(0.83); }
  84% {
    opacity: 4.2;
    transform: scale(0.84); }
  85% {
    opacity: 4.25;
    transform: scale(0.85); }
  86% {
    opacity: 4.3;
    transform: scale(0.86); }
  87% {
    opacity: 4.35;
    transform: scale(0.87); }
  88% {
    opacity: 4.4;
    transform: scale(0.88); }
  89% {
    opacity: 4.45;
    transform: scale(0.89); }
  90% {
    opacity: 4.5;
    transform: scale(0.9); }
  91% {
    opacity: 4.55;
    transform: scale(0.91); }
  92% {
    opacity: 4.6;
    transform: scale(0.92); }
  93% {
    opacity: 4.65;
    transform: scale(0.93); }
  94% {
    opacity: 4.7;
    transform: scale(0.94); }
  95% {
    opacity: 4.75;
    transform: scale(0.95); }
  96% {
    opacity: 4.8;
    transform: scale(0.96); }
  97% {
    opacity: 4.85;
    transform: scale(0.97); }
  98% {
    opacity: 4.9;
    transform: scale(0.98); }
  99% {
    opacity: 4.95;
    transform: scale(0.99); }
  100% {
    opacity: 5;
    transform: scale(1); } }
@keyframes hide {
  0% {
    opacity: .5;
    transform: scale(1); }
  25% {
    opacity: .4;
    transform: scale(0.8); }
  50% {
    opacity: .3;
    transform: scale(0.6); }
  75% {
    opacity: .2;
    transform: scale(0.3); }
  100% {
    opacity: 0;
    transform: scale(0); } }

/*# sourceMappingURL=style.css.map */
