// colors
$lightgray: #d2d2d2;
$darkgray: #171515;
$menu-bg: rgb(168,23,13);

//sizes
$body-border-height: 5px;

.darkgray-bg {
    background: $darkgray;
}

.lightgray-bg {
    background: $lightgray;
}

.menu-bg {
    background: lighten($menu-bg, 10%);
}

// top border
body {
    padding-top: $body-border-height;
    //middle bg
    background: $lightgray;
    &:before {
        content: "";
        position: fixed;
        background: rgb(168,23,13);
        top:0;
        left: 0;
        right: 0;
        height: $body-border-height;
    }
}