// colors
$lightgray: #d2d2d2;
$darkgray: #171515;
$menu-bg: rgb(168,23,13);
$white: #fff;

//sizes
$body-border-height: 5px;

::selection {
    background: red;
}


.darkgray-bg {
    background: $darkgray;
}

.lightgray-bg {
    background: $lightgray;
}

.menu-bg {
    background: lighten($menu-bg, 10%);
}

.white-bg {
    background: $white;
}

.footer-bg {
    background: #1b1b1b;
}

// menu
.menu {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    color: $white;
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            a {
                display: block;
                padding: 10px;
                background: $lightgray;
                text-decoration: none;
                &:hover {
                    opacity: .5;
                }
            }
        }
    }
}


.middle-content {
    background: $white;
    width: 100%;
    height: 100%;
    margin: 20px 0;
    padding: 100px;
}
//realizacje
#container-realizacje { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: .5;
    height: 100px;
}
// top border
body {
    padding-top: $body-border-height;
    //middle bg
    background: $lightgray;
    font-family: 'Lato', sans-serif;
    &:before {
        content: "";
        position: fixed;
        z-index: 1000;
        background: rgb(168,23,13);
        top: 0;
        left: 0;
        right: 0;
        height: $body-border-height;
    }
}

footer {
    background: $darkgray;
    color: #9a9393;
    text-align: center;
    font-size: 12px;
    padding: 10px 0;   
}

.footer-col {
    padding: 20px 0 10px 0;
    color: $white;
    font-family: 'Ubuntu', sans-serif;
    h3, h5 {
        margin: 0;
        padding: 0;
    }
    h3 {
        border-bottom: 1px solid rgba($white, .16);
        text-align: center;
    }
    a:focus {
        color: red;
    }
    a:hover{
        color: red;
    }
    .footer-input {
        width: 70%;
        background: #3b3b3b;
        border: none;
        color: #9a9393;
        height: 30px;
        margin-top: 10px;
        font-size: 10px;
        float: left;
    }
    .footer-submit{
        width: 20%;
        border: none;
        height: 30px;
        margin: 0;
        padding: 0;
        background: #3b3b3b;
        margin-top: 10px;
        font-size: 18px;
    }
    span {
        width: 100%;
    }
    .ico-footer {
        font-size: 60px;
        color: #9a9393;
        text-align: center;
        opacity: .1;
        top: 100px;
        right: 0;
        position: absolute;
        
    }
    ul {
        list-style: none;
        margin: 35px 0;
        padding: 0;
        li {
            a {
                .small-link {
                    font-size: 12px;
                    color: $white;
                }
            }
        }
    }
    .big-link {
        font-size: 15px;
        color: $white;
        text-align: center;
        text-transform: uppercase;
        display: block;
        margin-top: 20px;
    }
}


// socials

.fb, .tw, .gp, .ld {
    font-size: 25px;
    color: $white;
    display: block;
    text-align: left;
    position: relative;
}

.fb {
    color: #3b5998;
}
.tw {
   color: #55ACEE; 
}
.gp {
    color: #d34836;
}
.ld:after {
    position: absolute;
    content: "in";
    background: #0077B5;
    color: $white;
    border-radius: 4px;
    padding: 0 2px;
}




.border-footer {
    border-right-color: rgba($white, .16);
    border-right-style: solid;
    border-right-width: 1px;
    min-height: 180px;
    max-height: 250px;
}
// animacje

.show-anime{
   animation:show 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;   
    -webkit-animation-fill-mode: forwards;
    display: block;
    margin: 0 auto;

}

.hide-anime {
    animation: hide 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    
//    animation: hide 1s 1;
    opacity: 0;
    display: block;
    margin: 0 auto;
}     
      

@keyframes show {
@for $i from 1 through 100 {
 
    #{$i * 1%} {opacity: $i/20; transform: scale($i/100)}
 
}
}

//@keyframes hide {
//    @for $j from 100 through 1 {
//        #{($j - (-99)) * 1%} {opacity: $j/20; transform: scale($j/100)}
//    }
//}

//@keyframes show {
//    0% {opacity: 0; transform: scale(.2)}
//    25% {opacity: .1; transform: scale(.4)}
//    50% {opacity: .2; transform: scale(.6)}
//    75% {opacity: .3; transform: scale(.8) }
//    100% {opacity: .4; transform: scale(1)}
//}

@keyframes hide {
    0% {opacity: .5; transform: scale(1)}
    25% {opacity: .4; transform: scale(.8)}
    50% {opacity: .3; transform: scale(.6)}
    75% {opacity:.2; transform: scale(.3) }
    100% {opacity: 0; transform: scale(0)}
}
      
